<div class="sidebar-area" [class.active]="classApplied">
    <ul class="ps-0 mb-0 list-unstyled">
        <li>
            <a routerLink="/candidates-dashboard"
               class="d-block position-relative"
               routerLinkActive="active"
               [routerLinkActiveOptions]="{exact: true}">
                <i class="ri-dashboard-line"></i>
                Dashboard
            </a>
        </li>
        <li>
            <a routerLink="/candidates-dashboard/news"
               class="d-block position-relative"
               routerLinkActive="active"
               [routerLinkActiveOptions]="{exact: true}">
                <i class="ri-newspaper-line"></i>
                News
            </a>
        </li>
        <li>
            <a routerLink="/candidates-dashboard/my-profile"
               class="d-block position-relative"
               routerLinkActive="active"
               [routerLinkActiveOptions]="{exact: true}">
                <i class="ri-user-line"></i>
                My Profile
            </a>
        </li>
        <li>
            <a routerLink="/candidates-dashboard/documents"
               class="d-block position-relative"
               routerLinkActive="active"
               [routerLinkActiveOptions]="{exact: true}">
                <i class="ri-send-plane-2-line"></i>
                My Documents
            </a>
        </li>
        <li>
            <a routerLink="/candidates-dashboard/bookmarks"
               class="d-block position-relative"
               routerLinkActive="active"
               [routerLinkActiveOptions]="{exact: true}">
                <i class="ri-briefcase-line"></i>
                Bookmarks
            </a>
        </li>
        <li>
            <a routerLink="/candidates-dashboard/applied-jobs"
               class="d-block position-relative"
               routerLinkActive="active"
               [routerLinkActiveOptions]="{exact: true}">
                <i class="ri-file-list-3-line"></i>
                Applied Jobs
            </a>
        </li>
        <li>
            <a routerLink="/freelance"
               class="d-block position-relative"
               routerLinkActive="active"
               [routerLinkActiveOptions]="{exact: true}">
                <i class="ri-briefcase-4-line"></i>
                Freelance
            </a>
        </li>
        <li>
            <a routerLink="/candidates-dashboard/alert-jobs"
               class="d-block position-relative"
               routerLinkActive="active"
               [routerLinkActiveOptions]="{exact: true}">
                <i class="ri-bookmark-line"></i>
                Alert Jobs
            </a>
        </li>

        <li>
            <a routerLink="/candidates-dashboard/mes-formations"
               class="d-block position-relative"
               routerLinkActive="active"
               [routerLinkActiveOptions]="{exact: true}">
                <i class="ri-book-open-line"></i>
                Mes Formations
            </a>
        </li>
        <li>
            <a routerLink="/candidates-dashboard/message"
               class="d-block position-relative"
               routerLinkActive="active"
               [routerLinkActiveOptions]="{exact: true}">
                <i class="ri-chat-2-line"></i>
                Message
            </a>
        </li>
        <li>
            <a routerLink="/candidates-dashboard/change-password"
               class="d-block position-relative"
               routerLinkActive="active"
               [routerLinkActiveOptions]="{exact: true}">
                <i class="ri-lock-2-line"></i>
                Change Password
            </a>
        </li>

        <!--  Partenaires — correctement placé -->
        <li>
            <a routerLink="/candidates-dashboard/partenaires"
               class="d-block position-relative"
               routerLinkActive="active"
               [routerLinkActiveOptions]="{exact: true}">
                <i class="ri-building-line"></i>
                Nos Partenaires
            </a>
        </li>
        <li>
            <a routerLink="/candidates-dashboard/evenements"
                class="d-block position-relative"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                 <i class="ri-calendar-event-line"></i>
                    Événements
            </a>
        </li>
        <li>
            <a routerLink="/candidates-dashboard/ma-calendar"
                class="d-block position-relative"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                 <i class="ri-calendar-todo-line"></i>
                    Mon Calendrier
            </a>
        </li>
        <li>
            <a routerLink="/candidates-dashboard/mes-participations"
                class="d-block position-relative"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                 <i class="ri-team-line"></i>
                    Mes Participations
            </a>
        </li>
    </ul>
</div>

<!-- Sidebar Button -->
<div class="sidebar-btn d-xl-none" [class.active]="classApplied">
    <button (click)="toggleClass()">
        <span>Menus</span>
    </button>
</div>
